<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<div class="row">
    <div class="col-md-3 col-5 offset-5 offset-md-9">
        <div class="input-group">
            <input type="search" id="form1" class="form-control" placeholder="Search Category Here...." />
            <button type="button" class="btn btn-dark shadow">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-4 col-10 col-xl-3">
        <div class="card bg-c-blue order-card shadow">
            <div class="card-block">
                <h6 class="m-b-20">Users</h6>
                <h2 class="text-right"><i class="fa-solid fa-user "></i><span class="f-right">{{totalUsers.length}}</span></h2>
                <!-- <p class="m-b-0">Completed Orders<span class="f-right">351</span></p> -->
            </div>
        </div>
    </div>

    <div class="col-md-4 col-10  col-xl-3">
        <div class="card bg-c-green order-card shadow">
            <div class="card-block">
                <h6 class="m-b-20">Courses</h6>
                <h2 class="text-right"><i class="fa-solid fa-book"></i><span class="f-right">{{totalCourses.length}}</span></h2>
                <!-- <p class="m-b-0">Completed Orders<span class="f-right">351</span></p> -->
            </div>
        </div>
    </div>

    <div class="col-md-4 col-10  col-xl-3">
        <div class="card bg-c-yellow order-card shadow">
            <div class="card-block">
                <h6 class="m-b-20">Generated Reports</h6>
                <h2 class="text-right"><i class="fa-solid fa-database"></i><span class="f-right">9</span></h2>
                <!-- <p class="m-b-0">Completed Orders<span class="f-right">351</span></p> -->
            </div>
        </div>
    </div>

    <div class="col-md-4 col-10  col-xl-3">
        <div class="card bg-c-pink order-card shadow">
            <div class="card-block">
                <h6 class="m-b-20"> Queries</h6>
                <h2 class="text-right"><i class="fa-solid fa-comment "></i><span class="f-right">486</span></h2>
                <!-- <p class="m-b-0">Completed Orders<span class="f-right">351</span></p> -->
            </div>
        </div>
    </div>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="dodgerblue" type="ball-clip-rotate">
    <div class="spinner-border" style="width: 7rem; height: 7rem; color: white;" role="status">
    </div>
</ngx-spinner>