
.order-card {
    color: #fff;
}


.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    border: none;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


.f-left {
    float: left;
}

.f-right {
    float: right;
}

.shadow {
    transition: all 0.2s ease;
    cursor: pointer
}

.shadow:hover {
    transform: scale(1.1)
}
