

<div class="error-message"> 

    <h1>Oops! An Error Occurred</h1>


<h2>We are unable to connect to server.</h2>

<p>Try reconnecting your LAN or Wifi. If the problem still persists contact IT.</p>
<p>Sorry for the inconvenience caused.</p>
<a routerLink='/'>Login page</a>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="dodgerblue" type="ball-clip-rotate">
    <div class="spinner-border" style="width: 7rem; height: 7rem; color: white;" role="status">
    </div>
</ngx-spinner>