.cust-btn1 {
    color: white;
    padding: 6px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.cust-btn2 {
    color: white;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
a{
    text-decoration: none;
}

.center-title img{
    background-size: contain;
    width: 85%;
    margin-bottom: 15px;
}

.center-title{
    text-transform: uppercase;
    text-align: center;
  }
  
.center-title h1{
    font-weight: bold;
    font-size: 21px;
}


