<div class="row">
    <div class="card instructioncard">
        <div class="card-body">
            <div class="alert alert-success text-center" role="alert">
                <h4>Instructions</h4>
            </div>
            <h5 class="text-center"><b>{{contentRecords.title}}</b></h5>
            <p class="text-end font-weight-bold"><b>Time :</b> <span class="text-danger"><b>10 mins</b></span></p>
            <p class="text-center text-muted">Please read the instructions carefully before you attend the Assessment.
            </p>
            <ul class="">
                <li>Please complete all the answers within given time.</li>
                <li>Check all the answers and click on Submi Answer button</li>
                <li>If you can't answer a question just skip the quesion and go for the next one.</li>
                <li>If the time limit exceeded , Assessment session will be over automatically.</li>
                <li>If the time limit exceeded , Assessment session will be over automatically.</li>
                <li>You cannot attend the same assessment more than once.</li>
                <li>Please do not practice any unethical means to complete the assessment.</li>
            </ul>

        </div>
    </div>
    <div class="text-end">
        <button class="btn btn-dark mt-2" (click)="getContentRecordDetails(contentRecords.id)">Start Assessment</button>
    </div>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="dodgerblue" type="ball-clip-rotate">
    <div class="spinner-border" style="width: 7rem; height: 7rem; color: white;" role="status">
    </div>
</ngx-spinner>