button {
    border: solid;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}

.cust-btn {
    border: solid;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;

}


.custom-tooltip {
    --bs-tooltip-bg: var(--bs-primary);
  }